.menu {
    background-color: lightgray;
    border-bottom: 1px solid black;
}

.menu a::after {
    display: inline-block;
    color: black;
    content: "|";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.menu button {
    margin: 3px;
    background-color: grey;
    color: white;
}

.blog {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-right-style: none;

    padding-top: 10px;
    padding-left: 2px;
    margin-bottom: 5px;
}

.message {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

    color: green;
}

.message.error {
    color: red;
}

.remove-button {
    background-color: blue;
    color: white;
}